html {
  background-color: var(--secondary);
}

a, a:visited, a:hover, a:active {
  color: var(--white);
}

.page {
  height: 100vh;
  width: 70vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary);
}

.page-title {
  font-size: 35px;
}

.page-answer {
  font-size: 70px;
}

#no {
  color: var(--red);
}

#yes {
  color: var(--green);
}

#maybe {
  color: var(--yellow);
}

.page-text {
}

.page-source {
  color: var(--white);
}